{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    {{ $page := . }}
    {{ with .Params.featured_image }}
    {{ $image := $page.Resources.GetMatch . }}
    <figure class="featured-image">
        {{ if $image }}
            {{ with $image.Resize "600x" }}
        <img src="{{ .RelPermalink }}" alt="{{ $page.Title }}" />
            {{ end }}
        {{ else }}
        <img src="{{ . | relURL }}" alt="{{ $page.Title }}" />
        {{ end }}
        {{ with $page.Params.image_credit }}
        <figcaption>
            Image: {{ if $page.Params.image_credit_url }}<a href="{{ $page.Params.image_credit_url }}" target="_blank" rel="noopener">{{ . }}</a>{{ else }}{{ . }}{{ end }}
        </figcaption>
        {{ end }}
    </figure>
    {{ end }}
    {{ .Content }}
    {{ range .Pages.GroupBy "Section" }}
    {{ $section := $.Site.GetPage "section" .Key}}
    <h2>{{ $section.Title }}</h2>
    <ul>
        {{ if eq .Key "discography" }}
        {{ partial "list-albums.html" (dict "RootSection" $section.CurrentSection "Pages" .Pages) }}
        {{ else }}
        {{ range sort .Pages ".Params.releaseDate" "desc" }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end}}
